body{
  padding: 0;
  margin: 0;
  background: #F0F0F7;
}

.main{
  width: 100%;
}

.main img {
  width: 100%;
  height: 35vh;
}

.avatar{
  position: absolute;
  top: 15vh;
  left: 3%;
}

.avatar img{
  width: 15vw;
  height: 15vw;
}

.texto h1{
  margin-left: 40vw;
  padding-right: 10vw;
  font-family: Poppins;
}

.links a{
  margin-left: 80vw;
  width: 50px;
  height: 20px;
  color: white;

}

.links a button{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #9871F5;
  border: none;
}

.texto h1{
  color: #32264D;
  font-family: 'Archivo';
  font-weight: bold;
  font-size: 3em;
}

.links a button:hover{
  transition: 0.5s;
  background-color: #8257E5;
}

.textos{
  padding-left: 5vw;
}

.textos p{

width: 90vw;
height: 30vh;
text-align: end;
font-family: Poppins;

}

.one{
font-style: italic;
font-family: Poppins;
}

.two{
  text-decoration: overline;
  font-family: Poppins;
}

.three{
  text-decoration: line-through;
  font-family: Poppins;
}

.textos h3{
  text-align: center;
  font-family: Poppins;
}

@media(max-width:720px){
  .links a{
    margin-left: 65vw;
  }

  .texto h1{
    color: #32264D;
    font-family: 'Archivo';
    font-weight: bold;
    font-size: 1.5em;
  }
}
@media(max-width:400px){
  .links a{
    margin-left: 50vw;
  }

  .texto h1{
    color: #32264D;
    font-family: 'Archivo';
    font-weight: bold;
    font-size: 1.5em;
  }
}